$accent: #4abdff
$action: #ffc834
$line-height: 1.2

// $title-1: 5.063rem
$title-1: 7rem
// 
$title-2: 4.475rem
// $title-3: 2.25rem
$title-3: 3.675rem
$title-4: 2rem
$title-5: 2.35rem
$title-6: 1.6rem


$calendar_font_size: 2.2rem
$day_size: 5;
$day_height: 4rem;


$main_font: "MyriadProRegular"
$light_font: "HouschkaProLight"
$bold_font: "FranklinGothic-Heavy"


$company_width: 18rem
$company_height: 50rem


$background: #e74c3c;
$select-color: #3c3c3c;
$select-background: #dbddde;
$select-width: 18rem;
$select-height: 3rem; 