@import "fonts"
@import "libs"
@import "vars"
@import "base"



@mixin flex
  display: flex 
  flex-wrap: wrap

@mixin flex-center
  @include flex
  justify-content: center
  align-items: center

@mixin flex-around
  @include flex
  justify-content: space-around
  align-items: center



@mixin flex-between
  @include flex
  justify-content: space-between
  align-items: center




#calendar 
  width: 7 * $day_size + rem;
  margin: 0 auto;
  font-size: $calendar_font_size
  font-family: $light_font

  .calendar-header
    font-size: $title-5
    margin: 0;
    font-weight: 300;
    color: #3d3d3d;
    text-align: center;
    text-transform: uppercase
    font-family: $main_font
  
  
  table 
    width: 100%;
    border-collapse: collapse;
  
  
  .week-days 
    color: #3d3d3d;
  
  
  .day 
    width: $day_size + rem;
    height: $day_height;
    text-align: center;
    color: #3d3d3d;
    font-weight: normal;
    

  .week
    .day:not(.other-month)
      cursor: pointer
      &:hover,
      &:focus
        background: #eee; 
      &.selected
        background: #00ffff
      
    
  
  
  .other-month 
    opacity: 0.5;
  

.container
    width: 90%
    max-width: 132rem
    margin-left: auto
    margin-right: auto  

    .in
      max-width: 118.8rem;
      margin-left: auto
      margin-right: auto  

.row
    @include flex
    justify-content: space-between
    .col
      flex: 1

    &.v-center
      align-items: center


.is-footer
    .row 
        align-items: center
    .footer-contact-form
        font-size: 2rem
        position: relative
        max-width: 38rem
        margin: auto
        @include flex
        flex-direction: column
        input
            border-color: transparent
            background: transparent
            border-bottom: 4px solid #434343
            margin-bottom: 2rem
            max-width: 33rem
            & + input
                margin-left: 2.5rem
                & + input
                    margin-left: 6rem

        &:before
            content: " ";
            position: absolute;
            height: 108%;
            width: 3px;
            background: #000;
            bottom: -0.5rem;
            left: -12rem;
            transform: rotate(-25deg);
        .privacy
            font-size: 1rem


.button
    font-size: 1rem
    padding: 0.25rem 0.5rem;
    border-color: transparent;
    cursor: pointer

    &.is-md
        font-size: 2.3rem

    &.is-sm
        font-size: 1.6rem;
        padding: 0.5rem 1rem;

    &.is-white  
      border: 2px solid #d3d2c9;
      color: #434343
      background: transparent

      &:hover,
      &:focus
        background: #d3d2c9
        color: white

    &.is-circle 
        border-radius: 2rem

    &.is-gray
        background: #434343
        color: white

    &.is-link 
      background: transparent

    
    &.is-parallelogram
        position: relative
        color: white
        z-index: 2
        background: transparent
        &:before
            background: transparent;
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transform: skew(-20deg);
            background: #000;
            display: block;
            background: #00adef
            z-index: -1
        
    &.is-lg
      font-size: 1.6rem;
      padding: 0.4rem .8rem;


.button-wrap
    margin: 0


.align-text
    &.is-right
        text-align: right
    &.is-center
        text-align: center
    &.is-left
        text-align: left

.more-space
  line-height: 4

.with-line
  position: relative
  &:after 
    content: " ";
    position: absolute;
    height: 15rem;
    width: 1.5px;
    background: #7b7976;
    bottom: -10rem;
    left: -1.5rem;
    transform: rotate(20deg);


.main-img
    width: 100%;
    max-height: 75.85rem;
    object-fit: cover;

@mixin optional-at-root($sel) 
  @at-root #{if(not &, $sel, selector-append(&, $sel))} 
    @content;
  


@mixin placeholder 
  @include optional-at-root('::-webkit-input-placeholder')
      @content;
  

  @include optional-at-root(':-moz-placeholder') 
    @content;
  

  @include optional-at-root('::-moz-placeholder') 
    @content;
  

  @include optional-at-root(':-ms-input-placeholder') 
    @content;
  
@include placeholder 
  color: #3c3c3c;
  opacity: 1

.select-room
  display: flex
  list-style-type: none
  padding-left: 0
  margin: 0 0 1rem 0;
  .button
    font-size: 2.2rem;
    font-family: MyriadProRegular;
    margin-right: 2.4rem
    padding: 0
    color: #959595

    &.is-active
        border-bottom: 2px solid #959595


.room-card
    @include flex-center
    color: #6a6969
    margin-bottom: 4rem
    .room-img
        object-fit: cover
        height: 32rem;
        width: 22rem

    .room-info
        margin-left: 7rem
        .location,
        .price,
        .name
            margin: 0
            line-height: 1.2

        .location
            margin-left: 2.5rem

        .name
            margin-left: 1.25rem
            position: relative

            &:before
                content: " ";
                position: absolute;
                height: 30rem;
                width: 1px;
                background: #aeadac;
                bottom: -19rem;
                left: -2.4rem;
                transform: rotate(20deg);
        
        .button
            position: relative;
            left: -2rem;
            

        



.section 
  padding-bottom: 9.5rem
  .section-title,
  .section-subtitle
    font-family: $bold_font
    margin: 0
    line-height: 1
    color: #7b7976

  .section-title
    margin: 0
  .section-subtitle
    font-family: Helvetica;
    font-weight: bold;



#about
  .col
    padding: 2rem
    font-size: 1.6rem


#best
  padding-top: 6rem
  padding-bottom: 2rem

.best-item
  font-size: 2rem;
  width: 25%;
  min-width: 30rem
  margin-bottom: 1.5rem
  display: flex
  justify-content: flex-start;
  align-items: flex-start

  .best-img
    margin-right: 1rem
    width: 5rem
    margin-top: 1.6rem

  .best-info
    line-height: 1
    font-family: $bold_font

    &.is-sm
      font-size: 1.5rem


#header
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header-bg.png);
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  padding-bottom: 0
  



.header 
  position: relative
  .header-content
    max-width: 60rem
    margin-left: auto
    margin-right: auto
    color: white
    padding: 20rem 0
    position: relative


  .header-title 
    text-transform: uppercase
    font-size: 7rem
    font-family: $bold_font
    p
      line-height: 1.1
      padding: 0
      margin: 0
      z-index: 1
    .p-1
      margin-left: 3.6rem

    .p-2
      margin-left: 2.3rem

    .left-line
      position: relative
      &:before
            content: " ";
            position: absolute;
            height: 55rem;
            width: 2px;
            background: #fff;
            bottom: -24.5rem;
            left: 0.4rem;
            -webkit-transform: rotate(17deg);
            -ms-transform: rotate(17deg);
            transform: rotate(17deg);
            z-index: 2;

    .right-line
      position: relative
      &:before
            content: " ";
            position: absolute;
            height: 35rem;
            width: 2px;
            background: #fff;
            bottom: -34.5rem;
            right: 2rem;
            -webkit-transform: rotate(17deg);
            -ms-transform: rotate(17deg);
            transform: rotate(17deg);
            z-index: 2;

  .header-subtitle
    font-size: 4.2rem;
    p
      line-height: 1;
      margin-top: 0.7rem;

  .header-info
    text-transform: uppercase
    color: white

    position: absolute
    bottom: 0
    left: 11rem
    font-size: 3rem
    ul 
      list-style-type: none
      li
        display: inline
        margin-right: 3.5rem



  .phone
    position: absolute
    right: 2rem
    top: 2rem
    font-weight: bold
    font-size: 2rem

    a
      color: white

  .company
    height: $company_height
    width: $company_width
    position: absolute
    border-top: $company_height solid white;
    border-right: $company_width solid transparent;
    .logo
      position: absolute
      top: -$company_height + 2rem
      left: 1rem
      width: 14rem


#rental 
  margin-top: 4rem

.rental-form
  margin-top: 2rem
  input
    font-size: 2rem
    background: #dbddde
    border: transparent
    padding: .3rem .5rem
  
  .field, .select
    margin-right: 2rem
    width: 20rem





.select-hidden 
  display: none;
  visibility: hidden;
  padding-right: 10px;

.select 
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: $select-color;
  width: $select-width;
  height: $select-height;
  top: .9rem

.select-styled 
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: .3rem .5rem;
  transition: all 0.2s ease-in;
  &:after 
    content: "";
    width: 0;
    height: 0;
    border: 0.7rem solid transparent;
    border-color:  transparent  $select-color transparent transparent;
    position: absolute;
    top: 1.5rem;
    right: 0rem
  
  &:hover 
    background-color: darken($select-background, 2);
  
  &:active, 
  &.active 
    background-color: darken($select-background, 5);
    &:after 
      // top: 9px;
      right: -0.7rem
      border-color: transparent transparent transparent  $select-color;
    
  


.select-options 
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  li 
    margin: 0;
    padding: .3rem .5rem;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    transition: all 0.15s ease-in;
    &:hover 
      color: $select-background;
      background: $select-color;
    
    &[rel="hide"] 
      display: none;
    
  




@import "media" // Всегда в конце
